form{
    
    font-size: tahoma;
    font: 1em sans-serif;
    width: 400px;
    height: 300px;
    margin-left: 690px;
margin-top: 260px;
text-align:center;

}

body{
    background-image: url(/green-back2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }